body {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  color: #212121;
}

.nav {
  /* width:auto; */
  height: 80px;
  display: flex;
  /* border: 1px solid black; */
}

.box1,
.box2,
.box3,
.box4,
.b1,
.b2,
.b3,
.b4,
.b5,
.b6,
.b7,
.b8,
.b9,
.b10,
.b11,
.b12 {
  width: 200px;
}

.box1 {
  background-color: #ef9a9a;
}

.box2 {
  background-color: #e57373;
}

.box3 {
  background-color: #ef5350;
}

.box4 {
  background-color: #f44336;
}

.nav2,
.nav3,
.nav4 {
  display: flex;
  height: 80px;
  padding-top: 10px;
}

.b1 {
  background-color: #f8bbd0;
  /* display:inline-block; */
}

.b2 {
  background-color: #f48fb1;
}

.b3 {
  background-color: #f06292;
}

.b4 {
  background-color: #ec407a;
}

.b5 {
  background-color: #cfd8dc;
}
.b6 {
  background-color: #b0bec5;
}
.b7 {
  background-color: #78909c;
}
.b8 {
  background-color: #455a64;
}

.b9 {
  background-color: #c8e6c9;
}
.b10 {
  background-color: #a5d6a7;
}
.b11 {
  background-color: #81c784;
}
.b12 {
  background-color: #66bb6a;
}
